## 행정동-> 법정동 매핑

- 행정안전부가 제공하는 행정동 및 법정동의 코드 매핑 파일을 이용해 행정동
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardList.do?bbsId=BBSMSTR_000000000052
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardArticle.do?bbsId=BBSMSTR_000000000052&nttId=78739
- https://www.seoul.go.kr/seoul/autonomy_sub.do
- 매핑 참고 블로그: https://guzene.tistory.com/310

In [19]:
#서울
import pandas as pd

df = pd.read_excel('KIKmix.20200720.xlsx')
df

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...   ...    ...         ...    ...       ...   ...
21715  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701   NaN
21716  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701   NaN
21717  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701   NaN
21718  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701   NaN
21719  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701   NaN

[21720 rows x 8 columns]

In [20]:
#서울특별시만 추출

df_seoul = df[df['시도명'] == '서울특별시']
df_seoul

          행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0    1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1    1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2    1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3    1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4    1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
..          ...    ...  ...    ...         ...    ...       ...   ...
762  1174065000  서울특별시  강동구  성내제2동  1174010800    성내동  19880423   NaN
763  1174066000  서울특별시  강동구  성내제3동  1174010800    성내동  19880423   NaN
764  1174068500  서울특별시  강동구     길동  1174010500     길동  20080707   NaN
765  1174069000  서울특별시  강동구  둔촌제1동  1174010600    둔촌동  19880423   NaN
766  1174070000  서울특별시  강동구  둔촌제2동  1174010600    둔촌동  19880423   NaN

[767 rows x 8 columns]

In [21]:
df_need = df_seoul[['시군구명','행정동코드','읍면동명','법정동코드','동리명']]
df_need

    시군구명       행정동코드   읍면동명       법정동코드    동리명
0    NaN  1100000000    NaN  1100000000  서울특별시
1    종로구  1111000000    NaN  1111000000    종로구
2    종로구  1111051500  청운효자동  1111010100    청운동
3    종로구  1111051500  청운효자동  1111010200    신교동
4    종로구  1111051500  청운효자동  1111010300    궁정동
..   ...         ...    ...         ...    ...
762  강동구  1174065000  성내제2동  1174010800    성내동
763  강동구  1174066000  성내제3동  1174010800    성내동
764  강동구  1174068500     길동  1174010500     길동
765  강동구  1174069000  둔촌제1동  1174010600    둔촌동
766  강동구  1174070000  둔촌제2동  1174010600    둔촌동

[767 rows x 5 columns]

In [22]:
df_need.dropna(axis = 0,inplace = True)

C:\Users\NEW\AppData\Local\Temp\ipykernel_18040\361724113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need.dropna(axis = 0,inplace = True)

In [23]:
df_need

    시군구명       행정동코드   읍면동명       법정동코드  동리명
2    종로구  1111051500  청운효자동  1111010100  청운동
3    종로구  1111051500  청운효자동  1111010200  신교동
4    종로구  1111051500  청운효자동  1111010300  궁정동
5    종로구  1111051500  청운효자동  1111010400  효자동
6    종로구  1111051500  청운효자동  1111010500  창성동
..   ...         ...    ...         ...  ...
762  강동구  1174065000  성내제2동  1174010800  성내동
763  강동구  1174066000  성내제3동  1174010800  성내동
764  강동구  1174068500     길동  1174010500   길동
765  강동구  1174069000  둔촌제1동  1174010600  둔촌동
766  강동구  1174070000  둔촌제2동  1174010600  둔촌동

[741 rows x 5 columns]

In [24]:
#전체 행정동 개수

len(set(df_need['읍면동명']))

424

In [25]:
# 전체 행정동 코드 개수

len(df_need['행정동코드'].unique())

425

In [26]:
#전체 법정동 개수

len(set(df_need['동리명']))

465

In [27]:
len(set(df_need['법정동코드']))

467

### 중복된 행정동(읍면동명), 법정동(동리명)이 있는지 확인

In [28]:
#행정구 개수 확인

len(set(df_need.set_index('시군구명').index))

25

In [29]:
#중복되는 행정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '읍면동명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신사동']

- 신사동은 강남구, 관악구에 각각 존재함

In [30]:
#중복되는 법정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '동리명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신정동']

- 신정동은 마포구, 양천구에 존재
- 신사동은 강남구, 은평구에 존재

---

### 데이터 전처리

#### 행정동코드, 법정동코드 단위 맞추기

In [31]:
import numpy as np
df2_hund = df_need.copy()
df2_hund['행정동코드'] = (df2_hund['행정동코드']/100).astype(np.int64)
df2_hund['법정동코드'] = (df2_hund['법정동코드']/100).astype(np.int64)
df2_hund

    시군구명     행정동코드   읍면동명     법정동코드  동리명
2    종로구  11110515  청운효자동  11110101  청운동
3    종로구  11110515  청운효자동  11110102  신교동
4    종로구  11110515  청운효자동  11110103  궁정동
5    종로구  11110515  청운효자동  11110104  효자동
6    종로구  11110515  청운효자동  11110105  창성동
..   ...       ...    ...       ...  ...
762  강동구  11740650  성내제2동  11740108  성내동
763  강동구  11740660  성내제3동  11740108  성내동
764  강동구  11740685     길동  11740105   길동
765  강동구  11740690  둔촌제1동  11740106  둔촌동
766  강동구  11740700  둔촌제2동  11740106  둔촌동

[741 rows x 5 columns]

#### 행정동 별 법정동 개수 매핑

In [32]:
df2_count = pd.merge(df2_hund, df2_hund[['행정동코드','법정동코드']].groupby('행정동코드').count().rename(columns = {'법정동코드': '법정동개수'}).reset_index(), how = 'left')
df2_count

    시군구명     행정동코드   읍면동명     법정동코드  동리명  법정동개수
0    종로구  11110515  청운효자동  11110101  청운동     10
1    종로구  11110515  청운효자동  11110102  신교동     10
2    종로구  11110515  청운효자동  11110103  궁정동     10
3    종로구  11110515  청운효자동  11110104  효자동     10
4    종로구  11110515  청운효자동  11110105  창성동     10
..   ...       ...    ...       ...  ...    ...
736  강동구  11740650  성내제2동  11740108  성내동      1
737  강동구  11740660  성내제3동  11740108  성내동      1
738  강동구  11740685     길동  11740105   길동      1
739  강동구  11740690  둔촌제1동  11740106  둔촌동      1
740  강동구  11740700  둔촌제2동  11740106  둔촌동      1

[741 rows x 6 columns]

In [33]:
df2_count[df2_count['법정동개수'] == 0]

Empty DataFrame
Columns: [시군구명, 행정동코드, 읍면동명, 법정동코드, 동리명, 법정동개수]
Index: []

In [34]:
len(df2_hund['행정동코드'].unique())

425

In [35]:
len(df2_hund['법정동코드'].unique())

467

## 거주인구

In [36]:
live_df = pd.read_excel('주민등록인구_220206.xlsx')
live_df

        구별    동별      연령별   항목      단위
0      종로구     총        계    계  153255
1      종로구     총        계  한국인  143624
2      종로구     총     0~4세    계    2749
3      종로구     총     0~4세  한국인    2609
4      종로구     총     5~9세    계    4283
...    ...   ...      ...  ...     ...
19839  강동구  상일2동   90~94세  한국인      61
19840  강동구  상일2동   95~99세    계      14
19841  강동구  상일2동   95~99세  한국인      14
19842  강동구  상일2동  100세 이상    계       3
19843  강동구  상일2동  100세 이상  한국인       3

[19844 rows x 5 columns]

In [37]:
len(live_df['구별'].unique())

25

In [38]:
len(live_df['동별'].unique())

426

## 유동(생활)인구_202206

In [39]:
import pandas as pd
move_df = pd.read_csv('LOCAL_PEOPLE_DONG_202206.csv', index_col = False)
move_df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220601,0,11350624,17421.7541,516.6827,422.9934,705.3178,482.4843,418.1868,348.4365,...,472.4954,382.6895,511.0957,577.3952,891.1618,861.1078,789.0490,604.1523,533.9011,1878.4782
1,20220601,0,11320690,23085.1602,755.9624,435.2516,565.9015,590.9774,819.7142,722.6053,...,717.5183,747.9030,754.8199,807.2703,807.9252,992.9216,1032.5522,940.7521,795.9263,2033.7097
2,20220601,0,11380560,29703.2603,1217.6397,713.8988,825.1904,687.8945,812.2351,820.0138,...,970.9891,971.5359,1159.7740,1132.7461,1300.6919,1194.4632,1464.8496,1076.7829,930.1484,2577.2582
3,20220601,0,11110570,7876.7825,267.7128,171.2113,248.3879,323.4676,207.1846,184.5314,...,213.3041,189.5982,302.3843,279.8961,415.1416,284.0484,349.1367,323.6021,232.3676,638.2145
4,20220601,0,11710566,15287.2143,486.0278,502.2923,781.3518,602.3776,350.2765,330.5736,...,384.7944,344.5254,506.4428,569.7050,654.0039,582.9374,623.3090,548.3310,588.7402,1119.3336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,353.9245,157.2998,233.5248,338.2185,523.4700,613.8242,...,618.3283,658.3241,787.6529,639.1344,815.3907,525.7581,598.9164,471.1095,338.3312,1012.2623
305276,20220630,23,11380632,14556.9236,497.2446,338.0476,454.6732,373.4069,479.4481,438.2496,...,553.4183,534.7154,560.3783,508.7001,610.1573,539.5748,654.9026,671.8505,472.4650,1095.3381
305277,20220630,23,11320690,23022.9223,718.5428,413.7068,525.9950,586.5120,843.2292,668.9877,...,793.8093,688.7783,746.5794,816.6978,823.8753,1087.5158,1056.2795,932.5162,805.9788,2025.4382
305278,20220630,23,11260565,29926.6145,793.4312,401.8573,609.8149,908.1556,1242.1713,1203.5292,...,1451.8976,1289.5537,1331.3974,963.0683,1163.2269,1461.7815,1347.6131,1152.5971,843.5788,2166.6724
305279,20220630,23,11260570,20444.1221,674.8914,307.9980,383.8792,499.7959,663.7887,682.8206,...,746.0764,687.0497,905.1473,737.2991,817.4089,836.2038,950.2514,886.9428,639.8784,1759.3034

### 데이터 전처리

#### 유동인구 데이터 내 행정동 코드가 모두 존재하는지 확인
- <span style = 'color:red'>
서울시 열린광장데이터는 생활인구 데이터는 2016년 집계구, 행정동 코드를 사용하고 있어서 2020년에 추가된 행정동(=항동)이 없다고 함
    </span>

In [40]:
len(move_df['행정동코드'].unique())

424

In [41]:
raw_dong = list((df_need['행정동코드'].unique()/100).astype(int))
move_dong = list(move_df['행정동코드'].unique())
for i in move_df['행정동코드'].unique():
    try:
        raw_dong.remove(i)
        move_dong.remove(i)
    except:
        pass
print(raw_dong, move_dong)

[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800] [11305610, 11305600, 11305630, 11305606, 11305590, 11305620]

In [42]:
df_need[(df_need['행정동코드']/100).isin(raw_dong)]

    시군구명       행정동코드  읍면동명       법정동코드  동리명
358  강북구  1130559500   번1동  1130510200   번동
359  강북구  1130560300   번2동  1130510200   번동
360  강북구  1130560800   번3동  1130510200   번동
361  강북구  1130561500  수유1동  1130510300  수유동
362  강북구  1130562500  수유2동  1130510300  수유동
363  강북구  1130563500  수유3동  1130510300  수유동
561  구로구  1153080000    항동  1153011200   항동

In [43]:
move_df[(move_df['행정동코드']).isin(move_dong)].iloc[:,:4]

           기준일ID  시간대구분     행정동코드      총생활인구수
102     20220601      0  11305610  20256.0694
131     20220601      0  11305600  14987.1316
174     20220601      0  11305630  30820.0443
217     20220601      0  11305606  17547.1164
285     20220601      0  11305590  17772.7478
...          ...    ...       ...         ...
304876  20220630     23  11305590  17271.3107
304881  20220630     23  11305600  15409.9800
304886  20220630     23  11305606  17445.2389
305138  20220630     23  11305630  28141.3085
305171  20220630     23  11305610  20296.8519

[4320 rows x 4 columns]

- 11305610 :수유1동
- 11305600: 번2동
- 11305630: 수유3동
- 11305606: 번3동
- 11305590: 번1동
- 11305620: 수유2동

#### 유동인구 데이터 내 행정동코드 리코딩

In [44]:
move_df['행정동코드'].replace([11305610, 11305600, 11305630, 11305606, 11305590, 11305620], [11305615, 11305603, 11305635,  11305608,11305595,11305625], inplace = True)

In [45]:
move_df[(move_df['행정동코드']).isin(move_dong)].iloc[:,:4]

Empty DataFrame
Columns: [기준일ID, 시간대구분, 행정동코드, 총생활인구수]
Index: []

#### 연령대를 10단위로 묶기

In [46]:
move_df_clean = move_df.iloc[:,:4]
move_df_clean['남성 10대 미만'] = move_df.iloc[:,4]
move_df_clean['남성 10대 '] = move_df.iloc[:,5]+move_df.iloc[:,6]
move_df_clean['남성 20대 '] = move_df.iloc[:,7]+move_df.iloc[:,8]
move_df_clean['남성 30대 '] = move_df.iloc[:,9]+move_df.iloc[:,10]
move_df_clean['남성 40대 '] = move_df.iloc[:,11]+move_df.iloc[:,12]
move_df_clean['남성 50대 '] = move_df.iloc[:,13]+move_df.iloc[:,14]
move_df_clean['남성 60대 '] = move_df.iloc[:,15]+move_df.iloc[:,16]
move_df_clean['남성 70대 이상'] = move_df.iloc[:,17]

move_df_clean['여성 10대 미만'] = move_df.iloc[:,18]
move_df_clean['여성 10대 '] = move_df.iloc[:,19]+move_df.iloc[:,20]
move_df_clean['여성 20대 '] = move_df.iloc[:,21]+move_df.iloc[:,22]
move_df_clean['여성 30대 '] = move_df.iloc[:,23]+move_df.iloc[:,24]
move_df_clean['여성 40대 '] = move_df.iloc[:,25]+move_df.iloc[:,26]
move_df_clean['여성 50대 '] = move_df.iloc[:,27]+move_df.iloc[:,28]
move_df_clean['여성 60대 '] = move_df.iloc[:,29]+move_df.iloc[:,30]
move_df_clean['여성 70대 이상'] = move_df.iloc[:,31]

move_df_age_mf = move_df_clean.copy()
move_df_age_mf

,기준일ID,시간대구분,행정동코드,총생활인구수,남성 10대 미만,남성 10대,남성 20대,남성 30대,남성 40대,남성 50대,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,11350624,17421.7541,516.6827,1128.3112,900.6711,812.6601,1269.0192,1303.5731,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
1,20220601,0,11320690,23085.1602,755.9624,1001.1531,1410.6916,1667.6907,1748.4383,1860.3136,1451.5077,1339.1973,693.4690,812.5470,1430.4085,1502.7229,1615.1955,2025.4738,1736.6784,2033.7097
2,20220601,0,11380560,29703.2603,1217.6397,1539.0892,1500.1296,1869.8984,2013.2663,2117.7307,1574.5644,1558.6950,1062.0427,1560.6500,1881.3053,2131.3099,2433.4380,2659.3128,2006.9313,2577.2582
3,20220601,0,11110570,7876.7825,267.7128,419.5992,530.6522,421.7136,503.0091,580.5809,405.3734,402.6984,344.3421,534.7866,451.9258,491.9825,695.0377,633.1851,555.9697,638.2145
4,20220601,0,11710566,15287.2143,486.0278,1283.6441,952.6541,617.4123,1050.2490,1225.6233,891.3942,839.2873,437.6426,1075.0333,890.9196,850.9682,1223.7089,1206.2464,1137.0712,1119.3336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,353.9245,390.8246,861.6885,1378.5450,1539.5635,1209.2786,643.1064,664.9022,349.9998,475.0269,1079.4699,1445.9770,1454.5251,1124.6745,809.4407,1012.2623
305276,20220630,23,11380632,14556.9236,497.2446,792.7208,852.8550,1060.2417,1105.7938,978.8942,891.2488,740.2054,438.7575,592.5742,958.3059,1095.0937,1118.8574,1194.4774,1144.3155,1095.3381
305277,20220630,23,11320690,23022.9223,718.5428,939.7018,1429.7412,1576.6320,1741.3926,1785.9109,1475.6807,1350.9153,683.0545,824.7511,1512.9392,1435.3577,1640.5731,2143.7953,1738.4950,2025.4382
305278,20220630,23,11260565,29926.6145,793.4312,1011.6722,2150.3269,2610.0603,2138.7176,2567.9168,1544.0249,1268.9496,707.4493,911.0518,2503.5246,2620.9511,2126.2952,2809.3946,1996.1759,2166.6724
305279,20220630,23,11260570,20444.1221,674.8914,691.8772,1163.5846,1598.3954,1647.4586,1628.7150,1217.5909,1054.9349,642.2755,572.6571,1332.2606,1592.1970,1554.7080,1786.4552,1526.8212,1759.3034

#### 성별 관계없이 연령대 10단위로 묶기

In [47]:
move_df_age = move_df_age_mf.iloc[:,:4]

move_df_age['10대 미만'] = move_df_age_mf.iloc[:,4]+move_df_age_mf.iloc[:,12]
move_df_age['10대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['20대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['30대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['40대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['50대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['60대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['70대 이상'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]

In [48]:
move_df_age

,기준일ID,시간대구분,행정동코드,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,11350624,17421.7541,1127.9940,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229
1,20220601,0,11320690,23085.1602,1449.4314,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001
2,20220601,0,11380560,29703.2603,2279.6824,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392
3,20220601,0,11110570,7876.7825,612.0549,954.3858,954.3858,954.3858,954.3858,954.3858,954.3858,954.3858
4,20220601,0,11710566,15287.2143,923.6704,2358.6774,2358.6774,2358.6774,2358.6774,2358.6774,2358.6774,2358.6774
...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,703.9243,865.8515,865.8515,865.8515,865.8515,865.8515,865.8515,865.8515
305276,20220630,23,11380632,14556.9236,936.0021,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950
305277,20220630,23,11320690,23022.9223,1401.5973,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529
305278,20220630,23,11260565,29926.6145,1500.8805,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240
305279,20220630,23,11260570,20444.1221,1317.1669,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343

### 분석을 위한 데이터프레임 생성

#### 행정동<-> 법정동 매칭(성별/연령별)

In [49]:
move_df_age_mf.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상'],
      dtype='object')

In [50]:
move_df_map_mf = pd.merge(move_df_age_mf, df2_count[['시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수']], how = 'left')
move_df_map_mf = move_df_map_mf [['기준일ID','시간대구분','시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수','총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상']]

In [51]:
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,남성 10대 미만,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,17421.7541,516.6827,...,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,17421.7541,516.6827,...,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.1602,755.9624,...,1451.5077,1339.1973,693.4690,812.5470,1430.4085,1502.7229,1615.1955,2025.4738,1736.6784,2033.7097
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.2603,1217.6397,...,1574.5644,1558.6950,1062.0427,1560.6500,1881.3053,2131.3099,2433.4380,2659.3128,2006.9313,2577.2582
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.7825,267.7128,...,405.3734,402.6984,344.3421,534.7866,451.9258,491.9825,695.0377,633.1851,555.9697,638.2145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,14793.2090,353.9245,...,643.1064,664.9022,349.9998,475.0269,1079.4699,1445.9770,1454.5251,1124.6745,809.4407,1012.2623
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.9236,497.2446,...,891.2488,740.2054,438.7575,592.5742,958.3059,1095.0937,1118.8574,1194.4774,1144.3155,1095.3381
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.9223,718.5428,...,1475.6807,1350.9153,683.0545,824.7511,1512.9392,1435.3577,1640.5731,2143.7953,1738.4950,2025.4382
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.6145,793.4312,...,1544.0249,1268.9496,707.4493,911.0518,2503.5246,2620.9511,2126.2952,2809.3946,1996.1759,2166.6724
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.1221,674.8914,...,1217.5909,1054.9349,642.2755,572.6571,1332.2606,1592.1970,1554.7080,1786.4552,1526.8212,1759.3034

In [52]:
move_df_map_mf.iloc[:,8:] = move_df_map_mf.iloc[:,8:].apply(lambda x: x/move_df_map_mf.iloc[:,7])
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,남성 10대 미만,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,8710.877050,258.341350,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,8710.877050,258.341350,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.160200,755.962400,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.260300,1217.639700,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.782500,267.712800,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,1232.767417,29.493708,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.923600,497.244600,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.922300,718.542800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.614500,793.431200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.122100,674.891400,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

In [53]:
move_df_map_mf.drop('법정동개수', inplace = True, axis = 1)
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,755.962400,1001.153100,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,1217.639700,1539.089200,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,267.712800,419.599200,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,29.493708,32.568717,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,497.244600,792.720800,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,718.542800,939.701800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,793.431200,1011.672200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,674.891400,691.877200,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

#### 행정동<-> 법정동 매칭(연령별)

In [54]:
move_df_age.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '10대 미만', '10대', '20대', '30대',
       '40대', '50대', '60대', '70대 이상'],
      dtype='object')

In [55]:
move_df_map = pd.merge(move_df_age, df2_count[['시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수']], how = 'left')
move_df_map = move_df_map[['기준일ID','시간대구분','시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수','총생활인구수', '10대 미만', '10대', '20대', '30대',
       '40대', '50대', '60대', '70대 이상']]

In [56]:
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,17421.7541,1127.9940,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,17421.7541,1127.9940,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229,2126.6229
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.1602,1449.4314,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001,1813.7001
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.2603,2279.6824,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392,3099.7392
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.7825,612.0549,954.3858,954.3858,954.3858,954.3858,954.3858,954.3858,954.3858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,14793.2090,703.9243,865.8515,865.8515,865.8515,865.8515,865.8515,865.8515,865.8515
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.9236,936.0021,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950,1385.2950
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.9223,1401.5973,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529,1764.4529
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.6145,1500.8805,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240,1922.7240
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.1221,1317.1669,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343,1264.5343

In [57]:
move_df_map.iloc[:,8:] = move_df_map.iloc[:,8:].apply(lambda x: x/move_df_map.iloc[:,7])
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.160200,1449.431400,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.260300,2279.682400,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.782500,612.054900,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,1232.767417,58.660358,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.923600,936.002100,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.922300,1401.597300,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.614500,1500.880500,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.122100,1317.166900,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300

In [58]:
move_df_map['시군구명'].unique(), len(move_df_map['시군구명'].unique())

(array(['노원구', '도봉구', '은평구', '종로구', '송파구', '성동구', '성북구', '강남구', '영등포구',
        '강서구', '중랑구', '광진구', '금천구', '강북구', '마포구', '구로구', '용산구', '중구',
        '서초구', '동작구', '양천구', '동대문구', '서대문구', '강동구', '관악구'], dtype=object),
 25)

In [59]:
move_df_map['법정동코드'].unique(), len(move_df_map['법정동코드'].unique())

(array([11350105, 11350106, 11320106, 11380105, 11110187, 11710111,
        11200106, 11200107, 11290103, 11290105, 11290106, 11290108,
        11290111, 11290112, 11290113, 11290114, 11290115, 11680106,
        11560127, 11560128, 11560129, 11560130, 11560131, 11560134,
        11680108, 11380108, 11320107, 11200114, 11500103, 11200108,
        11260101, 11680103, 11680114, 11215105, 11545103, 11305101,
        11215104, 11440114, 11440115, 11440116, 11440117, 11440118,
        11500105, 11500108, 11500109, 11530108, 11530111, 11170124,
        11170125, 11170126, 11170127, 11170128, 11140162, 11680104,
        11290134, 11290138, 11170119, 11650101, 11650108, 11590105,
        11500102, 11470103, 11290101, 11290102, 11290104, 11290107,
        11440108, 11440110, 11440111, 11470102, 11215103, 11230103,
        11440124, 11305103, 11710108, 11140111, 11140113, 11140114,
        11140115, 11140116, 11140117, 11140119, 11140166, 11140167,
        11140168, 11140169, 11140170, 11410119, 11710101, 11590109,
        11170130, 11590102, 11590103, 11170132, 11170133, 11170134,
        11170135, 11740108, 11710107, 11710109, 11170112, 11170113,
        11170122, 11170123, 11470101, 11500104, 11380103, 11260105,
        11170129, 11560133, 11620101, 11290136, 11290137, 11350103,
        11410118, 11440112, 11440113, 11500111, 11500112, 11500113,
        11440125, 11230108, 11710103, 11680107, 11680110, 11710102,
        11230107, 11200118, 11530106, 11290109, 11290110, 11290116,
        11290117, 11290118, 11290119, 11290120, 11410111, 11350102,
        11740109, 11740106, 11545102, 11710114, 11440122, 11230106,
        11560132, 11740107, 11620102, 11440123, 11590107, 11170114,
        11170115, 11170116, 11170117, 11170118, 11380107, 11110184,
        11110185, 11110186, 11410117, 11140150, 11140151, 11140152,
        11140153, 11140155, 11140156, 11140157, 11140159, 11140160,
        11140161, 11230105, 11380102, 11710106, 11305102, 11680105,
        11650107, 11440101, 11440102, 11440109, 11710104, 11290139,
        11530107, 11320105, 11410112, 11410113, 11410114, 11410115,
        11410116, 11350104, 11140163, 11140164, 11740102, 11230110,
        11140132, 11140133, 11140136, 11140137, 11140138, 11140139,
        11140140, 11140141, 11140142, 11140144, 11140158, 11170131,
        11680101, 11170120, 11170121, 11140171, 11140172, 11140173,
        11140174, 11680115, 11260106, 11110175, 11290121, 11290122,
        11290123, 11290124, 11290125, 11110174, 11230104, 11710113,
        11380114, 11650109, 11650110, 11650111, 11170102, 11170103,
        11530102, 11590106, 11380109, 11110106, 11110107, 11110112,
        11110113, 11110114, 11110115, 11110116, 11110117, 11110118,
        11110119, 11110120, 11110121, 11410110, 11410105, 11410106,
        11410107, 11410108, 11410109, 11650102, 11650104, 11680118,
        11560111, 11560112, 11560113, 11200110, 11200111, 11320108,
        11410120, 11650106, 11140134, 11140135, 11140145, 11140146,
        11140147, 11140148, 11140149, 11140154, 11200115, 11560101,
        11560102, 11560103, 11560104, 11560105, 11560106, 11560107,
        11560108, 11560109, 11260102, 11530109, 11530110, 11230109,
        11260104, 11500101, 11290133, 11260103, 11215101, 11170136,
        11140165, 11290126, 11290127, 11290128, 11290129, 11290130,
        11290131, 11290132, 11380101, 11380104, 11680111, 11680112,
        11680113, 11140101, 11140102, 11140103, 11140104, 11140105,
        11140106, 11140107, 11140108, 11140109, 11140110, 11140121,
        11140122, 11140123, 11140124, 11140125, 11140126, 11140127,
        11140128, 11140129, 11140130, 11140131, 11440127, 11440120,
        11440121, 11590101, 11590104, 11200101, 11200102, 11200103,
        11200104, 11650103, 11590108, 11620103, 11440104, 11440105,
        11440106, 11440107, 11440103, 11140112, 11140118, 11140120,
        11740101, 11560110, 11740105, 11200112, 11530101, 11170101,
        11200122, 11110146, 11110147, 11110148, 11110149, 11200105,
        11170104, 11170105, 11170106, 11170107, 11200113, 11560119,
        11560120, 11560121, 11560122, 11560123, 11560124, 11740103,
        11740110, 11305104, 11560118, 11215102, 11110176, 11110177,
        11110178, 11110179, 11110180, 11110181, 11500106, 11500107,
        11710105, 11230101, 11230102, 11110139, 11110140, 11110141,
        11110142, 11110143, 11110144, 11110145, 11215107, 11560114,
        11560115, 11560116, 11560117, 11500110, 11530103, 11110101,
        11110102, 11110103, 11110104, 11110105, 11110108, 11110109,
        11110110, 11110111, 11410101, 11410102, 11410103, 11410104,
        11110122, 11110123, 11110124, 11110125, 11110126, 11110127,
        11110128, 11110129, 11110130, 11110131, 11110132, 11110133,
        11110134, 11110135, 11110136, 11110137, 11110138, 11110150,
        11110151, 11110152, 11110153, 11110154, 11110155, 11110156,
        11110157, 11110158, 11110159, 11110161, 11110169, 11110170,
        11110171, 11110172, 11110173, 11110160, 11110162, 11110163,
        11110164, 11110167, 11110165, 11110166, 11110168, 11560125,
        11560126, 11215109, 11440126, 11170108, 11170109, 11170110,
        11170111, 11380110, 11545101, 11380106, 11110182, 11110183,
        11290135, 11140143, 11200109, 11710112], dtype=int64),
 466)

In [60]:
move_df_map['동리명'].unique(), len(move_df_map['동리명'].unique())

(array(['상계동', '중계동', '방학동', '구산동', '무악동', '방이동', '사근동', '행당동', '돈암동',
        '동소문동2가', '동소문동3가', '동소문동5가', '삼선동1가', '삼선동2가', '삼선동3가', '삼선동4가',
        '삼선동5가', '대치동', '양평동3가', '양평동4가', '양평동5가', '양평동6가', '양화동', '양평동',
        '논현동', '역촌동', '창동', '성수동1가', '화곡동', '응봉동', '면목동', '개포동', '일원동',
        '자양동', '시흥동', '미아동', '광장동', '창전동', '상수동', '하중동', '신정동', '당인동',
        '마곡동', '공항동', '방화동', '오류동', '천왕동', '한강로1가', '한강로2가', '용산동3가',
        '용산동5가', '한강로3가', '신당동', '청담동', '길음동', '장위동', '효창동', '방배동', '서초동',
        '흑석동', '등촌동', '신월동', '성북동', '성북동1가', '동소문동1가', '동소문동4가', '대흥동',
        '노고산동', '신수동', '목동', '구의동', '제기동', '연남동', '수유동', '문정동', '소공동',
        '북창동', '태평로2가', '남대문로2가', '남대문로3가', '남대문로4가', '봉래동1가', '서소문동',
        '정동', '순화동', '의주로1가', '충정로1가', '북가좌동', '잠실동', '신대방동', '이태원동',
        '상도동', '상도1동', '동빙고동', '서빙고동', '주성동', '용산동6가', '성내동', '가락동', '장지동',
        '원효로1가', '원효로2가', '문배동', '신계동', '가양동', '불광동', '망우동', '이촌동', '대림동',
        '봉천동', '하월곡동', '상월곡동', '공릉동', '홍은동', '현석동', '구수동', '과해동', '오곡동',
        '오쇠동', '성산동', '회기동', '풍납동', '신사동', '압구정동', '신천동', '청량리동', '송정동',
        '고척동', '동소문동6가', '동소문동7가', '동선동1가', '동선동2가', '동선동3가', '동선동4가',
        '동선동5가', '홍제동', '월계동', '천호동', '둔촌동', '독산동', '마천동', '합정동', '장안동',
        '신길동', '암사동', '신림동', '망원동', '사당동', '신창동', '산천동', '청암동', '원효로3가',
        '원효로4가', '응암동', '부암동', '홍지동', '신영동', '연희동', '을지로4가', '을지로5가',
        '주교동', '방산동', '을지로3가', '입정동', '산림동', '초동', '인현동1가', '저동2가', '답십리동',
        '녹번동', '삼전동', '번동', '삼성동', '반포동', '아현동', '공덕동', '염리동', '송파동',
        '석관동', '개봉동', '쌍문동', '대현동', '대신동', '신촌동', '봉원동', '창천동', '하계동',
        '흥인동', '무학동', '고덕동', '이문동', '충무로4가', '충무로5가', '묵정동', '필동1가',
        '필동2가', '필동3가', '남학동', '주자동', '예장동', '장충동2가', '충무로3가', '한남동',
        '역삼동', '도원동', '용문동', '중림동', '의주로2가', '만리동1가', '만리동2가', '수서동',
        '신내동', '숭인동', '안암동1가', '안암동2가', '안암동3가', '안암동4가', '안암동5가', '창신동',
        '전농동', '거여동', '진관동', '내곡동', '염곡동', '신원동', '용산동2가', '용산동4가', '구로동',
        '동작동', '통의동', '적선동', '체부동', '필운동', '내자동', '사직동', '도렴동', '당주동',
        '내수동', '세종로', '신문로1가', '신문로2가', '북아현동', '냉천동', '천연동', '옥천동', '영천동',
        '현저동', '양재동', '원지동', '도곡동', '당산동1가', '당산동2가', '당산동3가', '금호동2가',
        '금호동3가', '도봉동', '남가좌동', '잠원동', '인현동2가', '예관동', '광희동1가', '광희동2가',
        '쌍림동', '을지로6가', '을지로7가', '오장동', '성수동2가', '영등포동', '영등포동1가',
        '영등포동2가', '영등포동3가', '영등포동4가', '영등포동5가', '영등포동6가', '영등포동7가',
        '영등포동8가', '상봉동', '궁동', '온수동', '휘경동', '묵동', '염창동', '정릉동', '중화동',
        '중곡동', '보광동', '황학동', '보문동4가', '보문동5가', '보문동6가', '보문동7가', '보문동1가',
        '보문동2가', '보문동3가', '수색동', '갈현동', '세곡동', '자곡동', '율현동', '무교동', '다동',
        '태평로1가', '을지로1가', '을지로2가', '남대문로1가', '삼각동', '수하동', '장교동', '수표동',
        '회현동1가', '회현동2가', '회현동3가', '충무로1가', '충무로2가', '명동1가', '명동2가',
        '남산동1가', '남산동2가', '남산동3가', '저동1가', '상암동', '서교동', '동교동', '노량진동',
        '본동', '상왕십리동', '하왕십리동', '홍익동', '도선동', '우면동', '대방동', '남현동', '도화동',
        '용강동', '토정동', '마포동', '신공덕동', '남창동', '남대문로5가', '봉래동2가', '명일동',
        '여의도동', '길동', '금호동4가', '신도림동', '후암동', '용답동', '가회동', '재동', '계동',
        '원서동', '마장동', '갈월동', '남영동', '용산동1가', '동자동', '옥수동', '문래동1가',
        '문래동2가', '문래동3가', '문래동4가', '문래동5가', '문래동6가', '상일동', '강일동', '우이동',
        '도림동', '능동', '교남동', '평동', '송월동', '홍파동', '교북동', '행촌동', '내발산동',
        '외발산동', '석촌동', '신설동', '용두동', '팔판동', '삼청동', '안국동', '소격동', '화동',
        '사간동', '송현동', '화양동', '당산동4가', '당산동5가', '당산동6가', '당산동', '개화동',
        '가리봉동', '청운동', '신교동', '궁정동', '효자동', '창성동', '통인동', '누상동', '누하동',
        '옥인동', '충정로2가', '충정로3가', '합동', '미근동', '청진동', '서린동', '수송동', '중학동',
        '종로1가', '공평동', '관훈동', '견지동', '와룡동', '권농동', '운니동', '익선동', '경운동',
        '관철동', '인사동', '낙원동', '종로2가', '훈정동', '묘동', '봉익동', '돈의동', '장사동',
        '관수동', '종로3가', '인의동', '예지동', '원남동', '종로4가', '혜화동', '명륜1가', '명륜2가',
        '명륜4가', '명륜3가', '연지동', '효제동', '종로5가', '종로6가', '충신동', '이화동', '연건동',
        '동숭동', '양평동1가', '양평동2가', '군자동', '중동', '서계동', '청파동1가', '청파동2가',
        '청파동3가', '증산동', '가산동', '대조동', '구기동', '평창동', '종암동', '장충동1가',
        '금호동1가', '오금동'], dtype=object),
 464)

In [61]:
move_df_map.drop('법정동개수', axis = 1, inplace = True)
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,1449.431400,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,2279.682400,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,612.054900,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,58.660358,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,936.002100,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,1401.597300,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,1500.880500,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,1317.166900,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300

#### 유동인구 평균(지역구/법정동/시간대별/성별/연령대별)

In [62]:
pd.options.display.max_rows = 200

move_df_clean_allmean = move_df_map_mf.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_clean_allmean

                              기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220615.5  11680645.0  59469.443548  1616.117463
                  1      20220615.5  11680645.0  58189.023058  1588.027972
                  2      20220615.5  11680645.0  57589.591212  1576.843940
                  3      20220615.5  11680645.0  57224.332185  1569.612115
                  4      20220615.5  11680645.0  56702.214993  1552.476005
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220615.5  11260685.0  26179.834640  1374.551520
                  20     20220615.5  11260685.0  26463.129918  1374.254425
                  21     20220615.5  11260685.0  26838.629228  1372.787313
                  22     20220615.5  11260685.0  27110.528498  1374.416983
                  23     20220615.5  11260685.0  28798.299925  1444.316625

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2632.084380  5043.093030  7161.905375  6817.484777
                  1      2567.865258  4926.969750  6963.674550  6603.449972
                  2      2544.717527  4859.516263  6842.791098  6471.732098
                  3      2536.640523  4812.944452  6767.222203  6399.886898
                  4      2511.026740  4772.181632  6680.406570  6298.469993
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1307.565472  1304.474632  1626.347355  1960.831877
                  20     1299.893322  1315.402382  1661.969205  1997.084533
                  21     1313.638250  1336.235717  1701.370097  2028.792082
                  22     1318.999538  1369.547668  1726.168927  2059.933977
                  23     1403.577107  1439.060832  1832.679472  2193.416820

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4025.376693  1624.970012  1297.972035  1530.654858
                  1      3922.715687  1597.560698  1288.569055  1521.639345
                  2      3889.166503  1590.919475  1285.672702  1520.050163
                  3      3855.880817  1581.825710  1291.224797  1511.995618
                  4      3798.718300  1571.157032  1291.257003  1487.865583
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1837.208162  1508.133883  1233.295657  1312.409115
                  20     1873.641302  1541.375173  1244.961055  1289.461557
                  21     1900.931653  1564.125108  1260.093508  1279.657290
                  22     1930.276318  1586.726977  1267.500560  1267.214780
                  23     2012.510348  1688.487907  1351.144880  1353.010662

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2728.146748  6185.520950  6441.681177  5616.616618
                  1      2679.182290  6032.026287  6323.207755  5521.579717
                  2      2653.315267  5952.058753  6271.257387  5490.166460
                  3      2647.038368  5905.411175  6244.455692  5464.553482
                  4      2601.452670  5863.906967  6203.307948  5418.263907
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1302.927487  1374.334897  1866.470898  1988.167318
                  20     1295.314243  1407.539123  1913.250238  2011.064160
                  21     1306.383447  1454.021208  1961.060738  2030.023108
                  22     1308.890860  1500.355073  1994.681058  2042.069870
                  23     1414.106267  1616.217300  2115.077953  2156.603388

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2917.441740  1891.666880  1938.710673
                  1      2876.151025  1866.921900  1909.481758
                  2      2870.023947  1863.230473  1908.129208
                  3      2864.755607  1865.187875  1905.697058
                  4      2865.675613  1867.400560  1918.648583
...                              ...          ...          ...
중랑구  11260106 신내동 19     2239.522683  1841.169878  2102.423785
                  20     2268.073277  1861.358652  2108.487290
                  21     2312.776992  1900.080517  2116.652097
                  22     2328.819770  1914.233668  2120.692485
                  23     2471.492922  2030.991185  2275.606180

[11184 rows x 19 columns]

In [63]:
move_df_clean_allmean.columns

Index(['기준일ID', '행정동코드', '총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상'],
      dtype='object')

In [67]:
move_df_clean_allmean.to_csv('moveallmean.csv')

#### 유동인구 평균(지역구/법정동/시간대별/연령대별)

In [64]:
move_df_clean_mean = move_df_map.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_clean_mean

                              기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220615.5  11680645.0  59469.443548  3146.772322
                  1      20220615.5  11680645.0  58189.023058  3109.667317
                  2      20220615.5  11680645.0  57589.591212  3096.894103
                  3      20220615.5  11680645.0  57224.332185  3081.607733
                  4      20220615.5  11680645.0  56702.214993  3040.341588
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220615.5  11260685.0  26179.834640  2686.960635
                  20     20220615.5  11260685.0  26463.129918  2663.715982
                  21     20220615.5  11260685.0  26838.629228  2652.444603
                  22     20220615.5  11260685.0  27110.528498  2641.631763
                  23     20220615.5  11260685.0  28798.299925  2797.327287

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5360.231128  5360.231128  5360.231128  5360.231128
                  1      5247.047548  5247.047548  5247.047548  5247.047548
                  2      5198.032793  5198.032793  5198.032793  5198.032793
                  3      5183.678892  5183.678892  5183.678892  5183.678892
                  4      5112.479410  5112.479410  5112.479410  5112.479410
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2610.492958  2610.492958  2610.492958  2610.492958
                  20     2595.207565  2595.207565  2595.207565  2595.207565
                  21     2620.021697  2620.021697  2620.021697  2620.021697
                  22     2627.890398  2627.890398  2627.890398  2627.890398
                  23     2817.683373  2817.683373  2817.683373  2817.683373

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5360.231128  5360.231128  5360.231128
                  1      5247.047548  5247.047548  5247.047548
                  2      5198.032793  5198.032793  5198.032793
                  3      5183.678892  5183.678892  5183.678892
                  4      5112.479410  5112.479410  5112.479410
...                              ...          ...          ...
중랑구  11260106 신내동 19     2610.492958  2610.492958  2610.492958
                  20     2595.207565  2595.207565  2595.207565
                  21     2620.021697  2620.021697  2620.021697
                  22     2627.890398  2627.890398  2627.890398
                  23     2817.683373  2817.683373  2817.683373

[11184 rows x 11 columns]

In [68]:
move_df_clean_mean.to_csv('movemean.csv')

#### 유동인구 평균(지역구/법정동/주중, 주말/시간대별/성별/연령별)

##### 주말(금~일)

In [65]:
weekend = [20220603,20220604,20220605,20220610,20220611,20220612,20220617,20220618,20220619,20220624,20220625,20220626]

move_df_mf_weekend = move_df_map_mf[move_df_map_mf['기준일ID'].isin(weekend)]
move_df_mf_weekend

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
35520,20220603,0,종로구,11110515,청운효자동,11110101,청운동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35521,20220603,0,종로구,11110515,청운효자동,11110102,신교동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35522,20220603,0,종로구,11110515,청운효자동,11110103,궁정동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35523,20220603,0,종로구,11110515,청운효자동,11110104,효자동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35524,20220603,0,종로구,11110515,청운효자동,11110105,창성동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461755,20220626,23,송파구,11710550,마천2동,11710114,마천동,16810.86560,533.17830,695.98510,...,1169.77360,939.27630,511.71980,609.60110,939.68540,1184.06240,1115.36970,1489.94660,1371.57110,1345.69950
461756,20220626,23,송파구,11710566,오륜동,11710111,방이동,14959.93210,528.83450,1304.99840,...,880.32010,768.79740,388.15470,985.87810,870.78670,884.72910,1246.58690,1174.12030,1015.11590,1124.38560
461757,20220626,23,송파구,11710590,송파2동,11710104,송파동,20252.90600,847.33710,1085.77590,...,1023.60110,776.47320,951.03980,1171.22160,1376.87410,1625.98210,1702.84890,1677.19600,1342.06760,1203.92710
461758,20220626,23,송파구,11710580,송파1동,11710104,송파동,31352.64990,1305.93690,1194.40550,...,1306.79500,954.98030,1054.50380,1110.16260,2896.80280,3416.35950,2660.19330,2264.05170,1742.62040,1629.51480
461759,20220626,23,송파구,11710570,오금동,11710112,오금동,39182.19400,1829.05900,2096.74060,...,2129.48290,1560.17850,1422.06240,1823.97430,2175.70430,3018.21910,3072.09960,3758.55760,2854.65090,2556.33240

In [70]:
move_df_mf_weekend_mean = move_df_mf_weekend.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_mf_weekend_mean

                              기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220614.5  11680645.0  59417.258121  1600.430617
                  1      20220614.5  11680645.0  57998.792621  1580.668292
                  2      20220614.5  11680645.0  57396.336621  1572.535233
                  3      20220614.5  11680645.0  56975.618167  1559.091196
                  4      20220614.5  11680645.0  56362.337617  1544.907550
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220614.5  11260685.0  26144.997912  1343.726271
                  20     20220614.5  11260685.0  26388.195858  1348.198600
                  21     20220614.5  11260685.0  26779.115192  1360.312475
                  22     20220614.5  11260685.0  27049.438954  1364.084121
                  23     20220614.5  11260685.0  28658.041350  1441.739787

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2635.584567  5145.322783  7192.368917  6745.013012
                  1      2565.805183  5013.563962  6959.813371  6519.985704
                  2      2551.738587  4909.611254  6834.095817  6392.936475
                  3      2535.943904  4861.796442  6749.428979  6315.089858
                  4      2510.425371  4825.478721  6657.953163  6198.780787
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1297.465688  1320.489967  1667.469775  1980.175254
                  20     1308.442562  1326.690342  1685.344912  2013.836696
                  21     1315.944308  1344.585021  1725.248625  2048.570850
                  22     1318.751425  1378.516954  1740.615604  2062.675179
                  23     1401.208588  1444.558783  1820.647687  2182.826467

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4001.544042  1605.878800  1290.299200  1520.205675
                  1      3884.942133  1572.955554  1280.416233  1519.974942
                  2      3862.704767  1572.447592  1279.199117  1521.294508
                  3      3821.238104  1562.884483  1282.822854  1515.746304
                  4      3753.178537  1538.477571  1279.688767  1490.129050
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1878.510050  1538.123358  1231.430187  1275.480925
                  20     1907.485746  1557.449804  1234.195342  1262.959112
                  21     1924.341808  1581.218713  1258.092979  1254.045325
                  22     1955.498429  1599.419042  1266.171108  1260.990171
                  23     2022.853437  1693.672783  1343.831087  1330.645688

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2720.803138  6285.116896  6397.530608  5570.289871
                  1      2677.372746  6086.720562  6247.736800  5476.752046
                  2      2664.773942  5983.658613  6195.619300  5456.730108
                  3      2660.091437  5933.278063  6164.238300  5429.356163
                  4      2620.119092  5879.604596  6127.485658  5373.863633
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1274.071867  1345.702958  1829.546367  1957.742108
                  20     1271.031563  1378.679421  1862.795479  1973.290208
                  21     1288.353192  1428.790354  1915.802792  1994.929808
                  22     1310.920363  1468.427758  1946.536750  2011.683262
                  23     1416.296979  1591.529308  2052.231625  2128.952517

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2906.494825  1862.497971  1937.876971
                  1      2859.989067  1838.365554  1913.730446
                  2      2859.032392  1831.041663  1908.917571
                  3      2851.582279  1830.013042  1903.017142
                  4      2836.785646  1823.143792  1902.315850
...                              ...          ...          ...
중랑구  11260106 신내동 19     2236.945567  1830.836625  2137.281300
                  20     2252.723029  1862.887633  2142.185217
                  21     2291.393450  1897.008146  2150.477146
                  22     2311.525733  1907.334571  2146.288346
                  23     2463.802138  2026.235496  2297.008871

[11184 rows x 19 columns]

In [79]:
move_df_mf_weekend_mean.to_csv('weekendallmean.csv')

##### 주중(월~목)

In [71]:
move_df_mf_weekday = move_df_map_mf[move_df_map_mf['기준일ID'].isin(weekend) == False]
move_df_mf_weekday

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,755.962400,1001.153100,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,1217.639700,1539.089200,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,267.712800,419.599200,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,29.493708,32.568717,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,497.244600,792.720800,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,718.542800,939.701800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,793.431200,1011.672200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,674.891400,691.877200,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

In [72]:
move_df_mf_weekday_mean = move_df_mf_weekday.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_mf_weekday_mean

                                기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2.022062e+07  11680645.0  59504.233833  1626.575361
                  1      2.022062e+07  11680645.0  58315.843350  1592.934425
                  2      2.022062e+07  11680645.0  57718.427606  1579.716411
                  3      2.022062e+07  11680645.0  57390.141531  1576.626061
                  4      2.022062e+07  11680645.0  56928.799911  1557.521642
...                               ...         ...           ...          ...
중랑구  11260106 신내동 19     2.022062e+07  11260685.0  26203.059125  1395.101686
                  20     2.022062e+07  11260685.0  26513.085958  1391.624975
                  21     2.022062e+07  11260685.0  26878.305253  1381.103872
                  22     2.022062e+07  11260685.0  27151.254861  1381.305558
                  23     2.022062e+07  11260685.0  28891.805642  1446.034517

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2629.750922  4974.939861  7141.596347  6865.799286
                  1      2569.238642  4869.240275  6966.248669  6659.092817
                  2      2540.036819  4826.119603  6848.587953  6524.262514
                  3      2537.104936  4780.376458  6779.084353  6456.418258
                  4      2511.427653  4736.650239  6695.375508  6364.929464
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1314.298661  1293.797742  1598.932408  1947.936292
                  20     1294.193828  1307.877075  1646.385400  1985.916425
                  21     1312.100878  1330.669514  1685.451078  2015.606236
                  22     1319.164947  1363.568144  1716.537808  2058.106508
                  23     1405.156119  1435.395531  1840.700661  2200.477056

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4041.265128  1637.697486  1303.087258  1537.620981
                  1      3947.898056  1613.964128  1294.004269  1522.748947
                  2      3906.807661  1603.234064  1289.988425  1519.220600
                  3      3878.975958  1594.453194  1296.826092  1509.495161
                  4      3829.078142  1592.943339  1298.969161  1486.356606
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1809.673569  1488.140900  1234.539303  1337.027908
                  20     1851.078339  1530.658753  1252.138197  1307.129853
                  21     1885.324883  1552.729372  1261.427194  1296.731933
                  22     1913.461578  1578.265600  1268.386861  1271.364519
                  23     2005.614956  1685.031322  1356.020742  1367.920644

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2733.042489  6119.123653  6471.114889  5647.501117
                  1      2680.388653  5995.563436  6373.521725  5551.464831
                  2      2645.676150  5930.992181  6321.682778  5512.457361
                  3      2638.336322  5886.833250  6297.933953  5488.018361
                  4      2589.008389  5853.441881  6253.856142  5447.864089
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1322.164567  1393.422856  1891.087253  2008.450792
                  20     1311.502697  1426.778925  1946.886744  2036.246794
                  21     1318.403617  1470.841778  1991.232703  2053.418642
                  22     1307.537858  1521.639950  2026.777264  2062.327608
                  23     1412.645792  1632.675961  2156.975506  2175.037303

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2924.739683  1911.112819  1939.266475
                  1      2886.925664  1885.959464  1906.649300
                  2      2877.351650  1884.689681  1907.603633
                  3      2873.537825  1888.637764  1907.483669
                  4      2884.935592  1896.905072  1929.537072
...                              ...          ...          ...
중랑구  11260106 신내동 19     2241.240761  1848.058714  2079.185442
                  20     2278.306775  1860.339331  2086.022006
                  21     2327.032686  1902.128764  2094.102064
                  22     2340.349128  1918.833067  2103.628578
                  23     2476.620111  2034.161644  2261.337719

[11184 rows x 19 columns]

In [80]:
move_df_mf_weekday_mean.to_csv('weekdayallmean.csv')

#### 유동인구 평균(지역구/법정동/주중, 주말/시간대별/연령별)

##### 주말(금~일)

In [73]:
weekend = [20220603,20220604,20220605,20220610,20220611,20220612,20220617,20220618,20220619,20220624,20220625,20220626]

move_df_weekend = move_df_map[move_df_map['기준일ID'].isin(weekend)]
move_df_weekend

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
35520,20220603,0,종로구,11110515,청운효자동,11110101,청운동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35521,20220603,0,종로구,11110515,청운효자동,11110102,신교동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35522,20220603,0,종로구,11110515,청운효자동,11110103,궁정동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35523,20220603,0,종로구,11110515,청운효자동,11110104,효자동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35524,20220603,0,종로구,11110515,청운효자동,11110105,창성동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461755,20220626,23,송파구,11710550,마천2동,11710114,마천동,16810.86560,1044.8981,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620
461756,20220626,23,송파구,11710566,오륜동,11710111,방이동,14959.93210,916.9892,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650
461757,20220626,23,송파구,11710590,송파2동,11710104,송파동,20252.90600,1798.3769,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750
461758,20220626,23,송파구,11710580,송파1동,11710104,송파동,31352.64990,2360.4407,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810
461759,20220626,23,송파구,11710570,오금동,11710112,오금동,39182.19400,3251.1214,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490

In [74]:
move_df_weekend_mean = move_df_weekend.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_weekend_mean

                              기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220614.5  11680645.0  59417.258121  3120.636292
                  1      20220614.5  11680645.0  57998.792621  3100.643233
                  2      20220614.5  11680645.0  57396.336621  3093.829742
                  3      20220614.5  11680645.0  56975.618167  3074.837500
                  4      20220614.5  11680645.0  56362.337617  3035.036600
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220614.5  11260685.0  26144.997912  2619.207196
                  20     20220614.5  11260685.0  26388.195858  2611.157712
                  21     20220614.5  11260685.0  26779.115192  2614.357800
                  22     20220614.5  11260685.0  27049.438954  2625.074292
                  23     20220614.5  11260685.0  28658.041350  2772.385475

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5356.387704  5356.387704  5356.387704  5356.387704
                  1      5243.177929  5243.177929  5243.177929  5243.177929
                  2      5216.512529  5216.512529  5216.512529  5216.512529
                  3      5196.035342  5196.035342  5196.035342  5196.035342
                  4      5130.544463  5130.544463  5130.544463  5130.544463
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2571.537554  2571.537554  2571.537554  2571.537554
                  20     2579.474125  2579.474125  2579.474125  2579.474125
                  21     2604.297500  2604.297500  2604.297500  2604.297500
                  22     2629.671787  2629.671787  2629.671787  2629.671787
                  23     2817.505567  2817.505567  2817.505567  2817.505567

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5356.387704  5356.387704  5356.387704
                  1      5243.177929  5243.177929  5243.177929
                  2      5216.512529  5216.512529  5216.512529
                  3      5196.035342  5196.035342  5196.035342
                  4      5130.544463  5130.544463  5130.544463
...                              ...          ...          ...
중랑구  11260106 신내동 19     2571.537554  2571.537554  2571.537554
                  20     2579.474125  2579.474125  2579.474125
                  21     2604.297500  2604.297500  2604.297500
                  22     2629.671787  2629.671787  2629.671787
                  23     2817.505567  2817.505567  2817.505567

[11184 rows x 11 columns]

In [81]:
move_df_weekend_mean.to_csv('weekendmean.csv')

##### 주말(월~목)

In [75]:
move_df_weekday = move_df_map[move_df_map['기준일ID'].isin(weekend) == False]
move_df_weekday

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,1449.431400,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,2279.682400,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,612.054900,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,58.660358,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,936.002100,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,1401.597300,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,1500.880500,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,1317.166900,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300

In [76]:
move_df_weekday_mean = move_df_weekday.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_weekday_mean

                                기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2.022062e+07  11680645.0  59504.233833  3164.196342
                  1      2.022062e+07  11680645.0  58315.843350  3115.683372
                  2      2.022062e+07  11680645.0  57718.427606  3098.937011
                  3      2.022062e+07  11680645.0  57390.141531  3086.121222
                  4      2.022062e+07  11680645.0  56928.799911  3043.878247
...                               ...         ...           ...          ...
중랑구  11260106 신내동 19     2.022062e+07  11260685.0  26203.059125  2732.129594
                  20     2.022062e+07  11260685.0  26513.085958  2698.754828
                  21     2.022062e+07  11260685.0  26878.305253  2677.835806
                  22     2.022062e+07  11260685.0  27151.254861  2652.670078
                  23     2.022062e+07  11260685.0  28891.805642  2813.955161

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5362.793411  5362.793411  5362.793411  5362.793411
                  1      5249.627294  5249.627294  5249.627294  5249.627294
                  2      5185.712969  5185.712969  5185.712969  5185.712969
                  3      5175.441258  5175.441258  5175.441258  5175.441258
                  4      5100.436042  5100.436042  5100.436042  5100.436042
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2636.463228  2636.463228  2636.463228  2636.463228
                  20     2605.696525  2605.696525  2605.696525  2605.696525
                  21     2630.504494  2630.504494  2630.504494  2630.504494
                  22     2626.702806  2626.702806  2626.702806  2626.702806
                  23     2817.801911  2817.801911  2817.801911  2817.801911

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5362.793411  5362.793411  5362.793411
                  1      5249.627294  5249.627294  5249.627294
                  2      5185.712969  5185.712969  5185.712969
                  3      5175.441258  5175.441258  5175.441258
                  4      5100.436042  5100.436042  5100.436042
...                              ...          ...          ...
중랑구  11260106 신내동 19     2636.463228  2636.463228  2636.463228
                  20     2605.696525  2605.696525  2605.696525
                  21     2630.504494  2630.504494  2630.504494
                  22     2626.702806  2626.702806  2626.702806
                  23     2817.801911  2817.801911  2817.801911

[11184 rows x 11 columns]

In [82]:
move_df_weekday_mean.to_csv('weekdaymean.csv')